@charset "UTF-8";
:root {
    --cor01: #DF3E35;
    --cor02: #3A3A4F;
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090E21;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}





#container {
    background-color: #1E1E32;
    width: 90%;
    height: 420px;
}





#container #divPrincipal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
#container #divPrincipal .informe {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
}
#container #divPrincipal .informe input {
    width: 95%;
    height: 40px;
    padding-left: 10px;
}
#container #divPrincipal #btn {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#container #divPrincipal #btn input {
    width: 47%;
    height: 100%;
    border: none;
    color: white;
    font-weight: bolder;
}
#container #divPrincipal #btn input[type="submit"] {
    background-color: var(--cor01);
    outline: none;
}
#container #divPrincipal #btn input[type="submit"]:hover {
    background-color: #df3e35be;
}
#container #divPrincipal #btn input[type="reset"] {
    background-color: #404042;
    outline: none;
    box-shadow: none;
}
#container #divPrincipal #btn input[type="reset"]:hover {
    background-color: #404042bd;
}
h2 {
    margin-top: 30px;
}




#container #divResultado {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#container #divResultado h2, p {
    margin-bottom: 10px;
}
#container #divResultado table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
}
#container #divResultado table tr{
    height: 30px;
    border-bottom: 1px solid var(--cor02);
}
#container #divResultado table tbody .primeiro {
    text-align: start;
}
#container #divResultado button {
    width: 50%;
    height: 40px;
    background-color: var(--cor01);
    border: none;
    color: white;
    margin-top: 10px;
}
